@model ecom.presentation.website.Models.Doctor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ConfigLayout .cshtml";
}

@section scripts{
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/maplocator.js"></script>
}

<h4>Doctor</h4>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            @{ Html.RenderPartial("_Upload"); }
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Doctor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NameEN, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Qualification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecialityID, "Speciality", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SpecialityID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SpecialityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExperienceFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExperienceFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExperienceFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HospitalID, "Hospital", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HospitalID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HospitalID, "", new { @class = "text-danger" })
                <a>+ Hospital</a>                
            </div>
        </div>

        <div class="form-group">
            <table>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        Morning start
                    </td>
                    <td>
                        Morning End
                    </td>
                    <td>
                        Afternoon Start
                    </td>
                    <td>
                        Afteroon End
                    </td>
                    <td>
                        Evening Start
                    </td>
                    <td>
                        Evening End
                    </td>
                </tr>
                <tr>
                    <td>
                        Sunday
                    </td>
                    <td>
                        @Html.TextBox("txtSundayMorningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSundayMorningEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSundayAfternoonStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSundayAfternoonEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSundayEveningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSundayEveningEndTime")
                    </td>
                </tr>
                <tr>
                    <td>
                        Monday
                    </td>
                    <td>
                        @Html.TextBox("txtMondayMorningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtMondayMorningEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtMondayAfternoonStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtMondayAfternoonEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtMondayEveningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtMondayEveningEndTime")
                    </td>
                </tr>
                <tr>
                    <td>
                        Tuesday
                    </td>
                    <td>
                        @Html.TextBox("txtTuesdayMorningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtTuesdayMorningEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtTuesdayAfternoonStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtTuesdayAfternoonEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtTuesdayEveningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtTuesdayEveningEndTime")
                    </td>
                </tr>
                <tr>
                    <td>
                        Wednesday
                    </td>
                    <td>
                        @Html.TextBox("txtWednesdayMorningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtWednesdayMorningEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtWednesdayAfternoonStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtWednesdayAfternoonEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtWednesdayEveningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtWednesdayEveningEndTime")
                    </td>
                </tr>
                <tr>
                    <td>
                        Thursday
                    </td>
                    <td>
                        @Html.TextBox("txtThursdayMorningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtThursdayMorningEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtThursdayAfternoonStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtThursdayAfternoonEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtThursdayEveningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtThursdayEveningEndTime")
                    </td>
                </tr>
                <tr>
                    <td>
                        Friday
                    </td>
                    <td>
                        @Html.TextBox("txtFridayMorningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtFridayMorningEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtFridayAfternoonStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtFridayAfternoonEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtFridayEveningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtFridayEveningEndTime")
                    </td>
                </tr>
                <tr>
                    <td>
                        Saturday
                    </td>
                    <td>
                        @Html.TextBox("txtSaturdayMorningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSaturdayMorningEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSaturdayAfternoonStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSaturdayAfternoonEndTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSaturdayEveningStartTime")
                    </td>
                    <td>
                        @Html.TextBox("txtSaturdayEveningEndTime")
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div id="mapContainer" style="height:300px;width:500px;border: 10px solid #eaeaea;">
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
