@model IEnumerable<ecom.presentation.website.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ConfigLayout .cshtml";
}

<h2></h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Doctor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            Contacts
        </th>
        <th>
            Reviews
        </th>
        <th>
            Likes
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization.NameEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.NameEN + " " + item.Qualification,
                        "Details",
                        new { id = item.ID }) 
            <br>
            <i>
                @Html.ActionLink(item.Hospital.NameEN, "Details", "Hospitals", new { id= item.HospitalID }, null)                
            </i>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hospital.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LikeCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization.NameEN)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                <br />    
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
