@model IEnumerable<ecom.presentation.website.Models.DoctorSearchResponseInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ConfigLayout .cshtml";
}


<a href="" class="iconMenu"><i></i></a>
<header>
    <a href="~/Specializations/Index" class="icon iconBack">back</a><h1>Dentist</h1>
    <span class="location">Al Rolla - Sharjah</span>
</header>
<div class="actionbar"><a href="">Common Specialities</a>›</div>
<section class="map"></section>
<section class="listingWrapper">
    <ul>
@foreach (var item in Model) {
        <li>
            <img src="@Url.Content(item.Image)" alt="@item.Name" />
            <p><em>Dr @item.Name</em><dfn>@item.Qualification - @item.Specialization</dfn><span>Insurance<a href="">Yes</a></span></p>
            <p class="action"><a href="" class="review">@item.ReviewCount</a><a href="" class="like">@item.LikeCount</a><span><a href="" class="call"></a><a href="" class="book">Book</a></span></p>
            <div><p><em>@item.Hospital&nbsp;  @item.Address</em><span>Consultation Fee<a href="">AED @item.Fee</a></span></p></div>
        </li>       
}
    </ul>
</section>

@*<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<div id="selction-ajax"></div>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageExt))
                {
                    <img src="@Url.Content("~/Images/" + item.HospitalID + "/" + item.ID + item.ImageExt)" alt="@item.NameEN" />
                }
                else
                {
                    <img src="~/Images/no-photo-available-icon.jpg" alt="Image not available" />
                }
            </td>
            <td>
                @Html.ActionLink(item.NameEN + " " + item.Qualification,
                        "Details",
                        new { id = item.ID })
                <br>
                @Html.DisplayFor(modelItem => item.Specialization.NameEN)
                <br>
                <i>
                    <a>Hospital:</a> @Html.ActionLink(item.Hospital.NameEN, "Details", "Hospitals", new { id = item.HospitalID }, null)
                </i>
                @if (item.Fee.HasValue)
                {
                    <br />
                    <a>Fee:</a> @Html.DisplayFor(modelItem => item.Fee)
                }

                @if (!string.IsNullOrEmpty(item.Hospital.ContactNumber))
                {
                    <br />
                    <a>Phone:</a> @Html.DisplayFor(modelItem => item.Hospital.ContactNumber)
                }

                <br />
                <a>Likes : </a> @Html.DisplayFor(modelItem => item.LikeCount)

                <br />
                <a>Reviews : </a> @Html.DisplayFor(modelItem => item.ReviewCount)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>*@
