@model IEnumerable<ecom.presentation.website.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ConfigLayout .cshtml";
}

<h2></h2>
<table class="table">
    <tr>
        <th>
            Doctor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            Contacts
        </th>
        <th>
            Reviews
        </th>
        <th>
            Likes
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization.NameEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameEN) 
            @Html.DisplayFor(modelItem => item.Qualification)
            <i>(@Html.DisplayFor(modelItem => item.Hospital.NameEN))</i>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hospital.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LikeCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization.NameEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
