@model IEnumerable<ecom.presentation.website.Models.Specialization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ConfigLayout .cshtml";
}

@section scripts{
    <script src="~/Scripts/jquery.autocomplete.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/doctorlist.js"></script>
}

<a href="" class="iconMenu"><i></i></a>
<header ng-app="doctorsListApp">
    <a href="" class="icon iconBack">back</a>
    <div>
        @Html.DropDownList("ddlCities")
    </div>
    <div style="position: relative; height: 80px;" ng-controller="listingController">
        <input type="text" name="country" id="autocomplete-ajax" style="position: absolute; z-index: 2; background: transparent;" />
        <input type="text" name="country" id="autocomplete-ajax-x" disabled="disabled" style="color: #CCC; position: absolute; background: transparent; z-index: 1;" />
        <input type="hidden" id="hdnSelectedItem" name="hdnSelectedItem" />         
    </div>
</header>
<div class="navbar navbar-inverse navbar-fixed-top hidden">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("DoctApp.ae", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Doctors", "Index", "Doctors")</li>
                <li>@Html.ActionLink("Hospitals", "Index", "Hospitals")</li>
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Manage", "Index", "HospitalAdmin")</li>
                }
                <li>@Html.ActionLink("About", "About", "Doctors")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Doctors")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<ul>   
@foreach (var item in Model) {
    <li>
        <img src="~/Images/Call@3x.png" />
        <p>
            <a href="/Doctors/Index/?sid=@item.ID&cid=7" >@item.NameEN</a>             
        </p>
    </li>
}
</ul>
